.info
  background-color: #FDFFE6
  width: 1512px
  height: 665px
  align-items: center
  display: flex
  padding: 80px


.my-picture
  width: 650px
  height: auto
  margin-right: 90px

.text
  width: 580px
  height: auto

