.biden-frame
  background-color: #FF5C00
  width: 756px
  height: 800px
  display: flex
  align-items: center
  justify-content: center
  transition: transform 1s
  transform-style: preserve-3d
  cursor: pointer
  position: relative
  margin-left: 0

.biden-frame.Dark
  background-color: #550024


.biden-frame.active
  transform: rotateY(180deg)

.biden-content
  position: absolute
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  backface-visibility: hidden

.biden-content.front
  transform: rotateY(0deg)

.biden-content.back
  transform: rotateY(180deg)

.biden-picture
  width: 756px
  height: 800px
  backface-visibility: hidden

