.back
  background-color: #FFF1E5
  width: 1512px
  height: 720px
  display: flex
  flex-direction: column
  align-items: center
  position: relative

.back-pic
  width: 1068px
  height: auto
  position: absolute
  z-index: 1
  left: 0
  bottom: 0

.questions
  display: flex
  width: 100%
  position: absolute
  bottom: 41px
  z-index: 2
  justify-content: center
  align-items: center

.frame
  width: 420px
  height: auto
  position: absolute
  z-index: 2
  left: 40px
  top: 200px

.date
  width: 300px
  height: auto
  position: absolute
  z-index: 2
  left: 101px
  top: 242px

.group
  width: 480px
  height: auto
  position: absolute
  z-index: 2
  left: 505px
  top: 55px

.cause
  width: 370px
  height: auto
  position: absolute
  z-index: 2
  right: 75px
  top: 226px

.circle
  width: 370px
  height: auto
  position: absolute
  z-index: 1
  right: 79px
  top: 137px

.pic-when, .pic-where, .pic-why
  width: 340px
  height: auto
  margin: 0 80px
  z-index: 2

