.receipt-container
  width: 1512px
  height: 906px
  display: flex
  justify-content: center
  align-items: center
  position: relative


.receipt-back
  width: 1512px
  height: 906px
  text-align: center
  z-index: 1

.burger
  width: 596px
  height: auto
  z-index: 2
  margin-left: 0

.pizza
  width: 900px
  height: auto
  z-index: 2
  margin-right: 0

.receipt
  width: 452px
  height: auto
  z-index: 2

.shaurma
  width: 550px
  height: auto
  z-index: 2